.footer {
  background: #000;
}
.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  color: #ccc;
  line-height: 1.33;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}
.footer-contato li a {
  text-decoration: none;
}

.footer-copy img {
  float: right;
  height: 80px;
  width: 80px;
  cursor: pointer;
}
.footer-copy {
  font-size: 1.125rem;
  color: #8f8f8f;
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-copy img {
    float: left;
  }
}

/* ANIMÇAO  */
.seta {
  animation: animaSeta 1s infinite alternate-reverse;
}

@keyframes animaSeta {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}
